
<!DOCTYPE html>
<html lang="en" class="no-js">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--[if IE]><link rel="shortcut icon" href="https://beta.nhs.uk/gp-surgeries/assets/images/favicon.ico"><![endif]-->
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon" href="https://beta.nhs.uk/gp-surgeries/images/apple-touch-icon.png">
    <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
    <link rel="icon" href="https://beta.nhs.uk/gp-surgeries/images/favicon.png">

    <title>BS1 Surgery - NHS.UK</title>

    <meta property="og:image" content="https://beta.nhs.uk/gp-surgeries/images/opengraph-image.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">

    

    <!--[if gt IE 8]><!--><link href="https://beta.nhs.uk/gp-surgeries/css/nhsuk.css?v=15" media="screen" rel="stylesheet" type="text/css"><!--<![endif]-->
    <!--[if IE 6]><link href="https://beta.nhs.uk/gp-surgeries/css/nhsuk-ie6.css?v=15" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="https://beta.nhs.uk/gp-surgeries/css/nhsuk-ie7.css?v=15" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="https://beta.nhs.uk/gp-surgeries/css/nhsuk-ie8.css?v=15" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link rel="stylesheet" href="https://beta.nhs.uk/gp-surgeries/css/print.css?v=15" media="print" type="text/css">

    
       <!-- rational for this code being in head: https://docs.hotjar.com/v1.0/docs/manual -->
      <script>
        (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:265857,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
      </script>
    

    
<meta name="DCSext.CTSServiceName" content="BS1 Surgery"></meta>
<meta name="DCSext.CTSServiceType" content="GP"></meta>

  </head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <!-- <script>(function(d){d.className=d.className.replace(/\bno-js\b/,'js-enabled')})(document.documentElement);</script> -->
    <div class="skiplinks">
      <div class="skiplinks--inner">
        <a href="#content" class="skiplinks--link">Skip to main content</a>
      </div>
    </div>

    <div class="notification-banner notification-banner__js-hidden" id="global-cookies-banner" role="alert">
      <p class="notification-banner--inner">
      NHS.UK uses cookies to make the site simpler.
      <a href="https://beta.nhs.uk/help/cookies">Find out more about cookies</a>
      </p>
    </div>

    <div class="notification-banner notification-banner__hiviz js-feedback-banner">
  <p class="notification-banner--inner">
    
      This is a new page. <a class="choices-profile-link" href="//www.nhs.uk/Services/GP/Overview/DefaultView.aspx?id=44689">See the current version of this page</a> on NHS Choices</a>.
    
  </p>
</div>


    

    <header role="banner">
      <div class="global-header">
        <div class="global-header--inner">
          <a href="/" class="global-header__link" title="Go to the NHS.UK homepage">
            <img src="https://beta.nhs.uk/gp-surgeries/images/logotype-nhs-mono.png" alt="">
          </a>
        </div>
      </div>
    </header>

    <main id="content" role="main" class="util-nofocus">
      
      <div class="local-header local-header--fullwidth local-header--no-padding">
        <div class="local-header local-header--no-padding-lr">
          
<h1 class="local-header__title">BS1 Surgery</h1>

          
  <p class="gp-address">BS1 Surgery, Queen Charlotte Street, Bristol, BS1 4ES</p>
<p><a href="https://maps.google.com/?q=BS1+Surgery,BS1+Surgery,Queen+Charlotte+Street,Bristol,BS1+4ES">See map and get directions</a></p>
<div class="local-header__intro local-header__intro--fullwidth">
  <div class="grid-row">
    <div class="column--one-half">
      <p>Reception: 0117 966 3587</p>
      
    </div>
    <div class="column--one-half">
      
      <p><a class="gp-website" href="//www.malagosurgery.nhs.uk">See the surgery's own website</a></p>
    </div>
  </div>
</div>


        </div>
      </div>

      <div class="page-section">
        
          

<ul class="link-list grid-row">
  
  <li class="column--one-third">
    <a class="column--one-third gp-book-online" href="https://nhs.e-life.co.uk/Default?v=Appointments&DynamicID=7c100261-5107-485a-8aa9-377598843f17">Book a GP appointment</a>
  </li>
  
  
  <li class="column--one-third">
    <a class="repeat-prescription-online" href="https://nhs.e-life.co.uk/Default?v=Prescriptions&DynamicID=7c100261-5107-485a-8aa9-377598843f17">Get a repeat prescription</a>
  </li>
  
  
  <li class="column--one-third">
    <a class="coded-records-online" href="https://nhs.e-life.co.uk/Default">View your medical record</a>
  </li>
  
</ul>



<div class="reading-width">
  


<h2 class='opening-times' data-title='Open (Reception)'>Reception opening times</h2>


  <table class='opening-times'>
    
      <tr class="">
          <td>Monday</td>
          
          <td>
              8:30am to 12:45pm
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
      <tr class="">
          <td>Tuesday</td>
          
          <td>
              8:30am to 12:45pm
          </td>
          
          <td>
              2:45pm to 5:45pm
          </td>
          
          
      </tr>
    
      <tr class="">
          <td>Wednesday</td>
          
          <td>
              2:30pm to 5:45pm
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
      <tr class="">
          <td>Thursday</td>
          
          <td>
              Closed
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
      <tr class="">
          <td>Friday</td>
          
          <td>
              8:30am to 12:45pm
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
      <tr class="">
          <td>Saturday</td>
          
          <td>
              Closed
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
      <tr class="">
          <td>Sunday</td>
          
          <td>
              Closed
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
  </table>




<h2 class='opening-times' data-title='Open (GP)'>When GPs see patients</h2>


  <table class='opening-times'>
    
      <tr class="">
          <td>Monday</td>
          
          <td>
              8:30am to 12:45pm
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
      <tr class="">
          <td>Tuesday</td>
          
          <td>
              8:30am to 12:45pm
          </td>
          
          <td>
              2:45pm to 5:45pm
          </td>
          
          
      </tr>
    
      <tr class="">
          <td>Wednesday</td>
          
          <td>
              2:30pm to 5:45pm
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
      <tr class="">
          <td>Thursday</td>
          
          <td>
              Closed
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
      <tr class="">
          <td>Friday</td>
          
          <td>
              8:30am to 12:45pm
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
      <tr class="">
          <td>Saturday</td>
          
          <td>
              Closed
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
      <tr class="">
          <td>Sunday</td>
          
          <td>
              Closed
          </td>
          
          
            <td colspan='1'></td>
          
      </tr>
    
  </table>



<p>Contact reception or go to the <a class="gp-website-opening-times" href="http://www.malagosurgery.nhs.uk">surgery's website</a> to find out if appointments are available at other times.</p>
<p>If the surgery is closed and you need help quickly, call 111 for advice on local services that might be able to help.</p>

<hr class="hr--fullwidth"/>


  <h2 data-title="Patients Say">What patients say about this surgery</h2>
<p>Every year, the GP Patient Survey gives patients a chance to say how they feel about their GP surgery.</p>
<p>The survey is independent and asks people about their experiences of:</p>
<ul>
  <li>booking an appointment</li>
  <li>waiting times</li>
  <li>staff at the surgery</li>
</ul>
<p>You can <a class="gp-patient-survey" href="https://gp-patient.co.uk/practices/L81035">see results for this surgery on the GP Patient Survey website</a>.</p>

<hr class="hr--fullwidth"/>


  
  <h2 class='gp-info' data-title='GPs at this surgery'>GPs at this surgery</h2>
  <p class='gp-info'>There are
    
        4 female GPs
    
        and
    
        1 male GP
    
  </p>
    <ul class="link-list gp-info">
      
          <li>Dr Andrew John Green</li>
      
          <li>Dr Rona Mary Hellings</li>
      
          <li>Dr Sarah Hadfield</li>
      
          <li>Dr Katharine Morgan</li>
      
          <li>Dr Juliet Brown</li>
      
    </ul>
  <hr class="hr--fullwidth"/>



  
<h2 class="services" data-title="Services">Services at this surgery</h2>


<h3>Services patients can book themselves</h3>
<ul class="link-list self-referrals">
  
  <li>Health checks for people with learning disabilities</li>
  
</ul>

<hr class="hr--fullwidth"/>



  
<h2 class='facilities' data-title="Parking">Parking and accessibility</h2>
<ul class="link-list facilities">
  
  <li>Car parking</li>
  
  <li>Wheelchair access</li>
  
</ul>
<hr class="hr--fullwidth"/>



  <h2 class='how-to-register' data-title="Register">How to register</h2>

<div class="callout callout--info callout--blue">
  <p class='how-to-register'>
    This surgery is accepting new patients
  </p>
</div>
<div>
  <p>Find out <a href="//www.nhs.uk/NHSEngland/AboutNHSservices/doctors/Pages/NHSGPs.aspx#register" class="gp-website-register">how to register as a patient</a>.</p>
</div>

<hr class="hr--fullwidth"/>

</div>

        
      </div>
      
    </main>

    <footer role="contentinfo">
      <div class="global-footer">
  <div class="global-footer__inner">

    <div>
      <h2 class="util-visuallyhidden">Support links</h2>
      <ul class="link-list">
        <li>
          <a href="https://beta.nhs.uk/help/clinical-assurance">Clinical assurance</a>
        </li>
        <li>
          <a href="https://beta.nhs.uk/help/cookies">Cookies</a>
        </li>
      </ul>
    </div>

  </div>
</div>

    </footer>

    <script src="https://beta.nhs.uk/gp-surgeries/js/vendor/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="https://beta.nhs.uk/gp-surgeries/js/cookie-message.js" type="text/javascript"></script>
<script src="https://beta.nhs.uk/gp-surgeries/js/selection-buttons.js" type="text/javascript"></script>




  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-67365892-5', {
       'cookieDomain': 'auto'
    });
    ga('send', 'pageview');
  </script>

  <script src="/gp-surgeries/js/custom-ga.js?v=1" type="text/javascript"></script>



  <script>
    // WebTrends SmartSource Data Collector Tag v10.4.23
    // Copyright (c) 2016 Webtrends Inc.  All rights reserved.
    // Tag Builder Version: 4.1.3.5
    // Created: 2016.01.13
    window.webtrendsAsyncInit=function(){
      var dcs=new Webtrends.dcs().init({
        dcsid:'dcs222rfg0jh2hpdaqwc2gmki_9r4q',
        domain:'statse.webtrendslive.com',
        timezone:0,
        i18n:true,
        adimpressions:true,
        adsparam:'WT.ac',
        offsite:true,
        download:true,
        downloadtypes:'xls,doc,pdf,txt,csv,zip,docx,xlsx,rar,gzip',
        onsitedoms:'nhs.uk',
        fpcdom:'.nhs.uk',
        plugins:{
          hm:{src:'//s.webtrends.com/js/webtrends.hm.js'}
        }
      }).track();
    };
    (function(){
      var s=document.createElement('script'); s.async=true; s.src="/gp-surgeries/js/vendor/tracking/webtrends.min.js";
      var s2=document.getElementsByTagName('script')[0]; s2.parentNode.insertBefore(s,s2);
    }());
  </script>

  <script src="https://beta.nhs.uk/gp-surgeries/js/custom-wt.js?v=1" type="text/javascript"></script>

  <noscript>
    <img alt="dcsimg" id="dcsimg" width="1" height="1" src="//statse.webtrendslive.com/dcs222rfg0jh2hpdaqwc2gmki_9r4q/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=10.4.23&amp;dcssip=.nhs.uk"/>
  </noscript>



  <script src="https://beta.nhs.uk/gp-surgeries/js/custom-hj.js?v=1" type="text/javascript"></script>



  </body>
</html>
