{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}Test pages for NHS.UK{% endblock %}

{% block content %}

  <div class="first-item">

    <p>This is where NHS.UK tests new pages and services to get feedback. Please
take a look and tell us what you think. It will help us to improve what we do.</p>
<p><a href="http://transformation.blog.nhs.uk/" rel="external">Read more about NHS.UK on our blog</a></p>
<h2 id="conditions">Conditions</h2>
<ul>
<li><a href="https://beta.nhs.uk/conditions/bacterial-vaginosis">Bacterial vaginosis</a></li>
<li><a href="https://beta.nhs.uk/conditions/blisters">Blisters</a></li>
<li><a href="https://beta.nhs.uk/conditions/broken-or-bruised-ribs">Broken or bruised ribs</a></li>
<li><a href="https://beta.nhs.uk/conditions/carpal-tunnel-syndrome">Carpal tunnel syndrome</a></li>
<li><a href="https://beta.nhs.uk/conditions/cellulitis">Cellulitis</a></li>
<li><a href="https://beta.nhs.uk/conditions/cold">Common cold</a></li>
<li><a href="https://beta.nhs.uk/conditions/conjunctivitis">Conjunctivitis</a></li>
<li><a href="https://beta.nhs.uk/conditions/constipation">Constipation</a></li>
<li><a href="https://beta.nhs.uk/conditions/cough">Cough</a></li>
<li><a href="https://beta.nhs.uk/conditions/dehydration">Dehydration</a></li>
<li><a href="https://beta.nhs.uk/conditions/type-2-diabetes/check-if-you-have-it">Diabetes</a></li>
<li><a href="https://beta.nhs.uk/conditions/diarrhoea">Diarrhoea</a></li>
<li><a href="https://beta.nhs.uk/conditions/ear-infections">Ear infections</a></li>
<li><a href="https://beta.nhs.uk/conditions/earache">Earache and pain</a></li>
<li><a href="https://beta.nhs.uk/conditions/earwax">Earwax build-up</a></li>
<li><a href="https://beta.nhs.uk/conditions/flu">Flu</a></li>
<li><a href="https://beta.nhs.uk/conditions/frozen-shoulder">Frozen shoulder</a></li>
<li><a href="https://beta.nhs.uk/conditions/fungal-nail-infection">Fungal nail infection</a></li>
<li><a href="https://beta.nhs.uk/conditions/glandular-fever">Glandular fever</a></li>
<li><a href="https://beta.nhs.uk/conditions/hand-foot-and-mouth-disease">Hand, foot and mouth disease</a></li>
<li><a href="https://beta.nhs.uk/conditions/hay-fever">Hay fever</a></li>
<li><a href="https://beta.nhs.uk/conditions/head-lice">Head lice</a></li>
<li><a href="https://beta.nhs.uk/conditions/heat-exhaustion-and-heatstroke">Heat exhaustion and heat stroke</a></li>
<li><a href="https://beta.nhs.uk/conditions/heat-rash">Heat rash</a></li>
<li><a href="https://beta.nhs.uk/conditions/hernia">Hernia</a></li>
<li><a href="https://beta.nhs.uk/conditions/hiatus-hernia">Hiatus hernia</a></li>
<li><a href="https://beta.nhs.uk/conditions/hives">Hives</a></li>
<li><a href="https://beta.nhs.uk/conditions/impetigo">Impetigo</a></li>
<li><a href="https://beta.nhs.uk/conditions/indigestion">Indigestion</a></li>
<li><a href="https://beta.nhs.uk/conditions/insect-bites-and-stings">Insect bites and stings</a></li>
<li><a href="https://beta.nhs.uk/conditions/insomnia">Insomnia</a></li>
<li><a href="https://beta.nhs.uk/conditions/iron-deficiency-anaemia">Iron deficiency anaemia</a></li>
<li><a href="https://beta.nhs.uk/conditions/laryngitis">Laryngitis</a></li>
<li><a href="https://beta.nhs.uk/conditions/mouth-ulcers">Mouth ulcers</a></li>
<li><a href="https://beta.nhs.uk/conditions/nosebleed">Nosebleed</a></li>
<li><a href="https://beta.nhs.uk/conditions/piles">Piles</a></li>
<li><a href="https://beta.nhs.uk/conditions/scarlet-fever">Scarlet fever</a></li>
<li><a href="https://beta.nhs.uk/conditions/shingles">Shingles</a></li>
<li><a href="https://beta.nhs.uk/conditions/sinusitis">Sinusitis (sinus infection)</a></li>
<li><a href="https://beta.nhs.uk/conditions/sore-throat">Sore throat</a></li>
<li><a href="https://beta.nhs.uk/conditions/sprains-and-strains">Sprains and strains</a></li>
<li><a href="https://beta.nhs.uk/conditions/slipped-disc">Slipped disc</a></li>
<li><a href="https://beta.nhs.uk/conditions/stye">Stye</a></li>
<li><a href="https://beta.nhs.uk/conditions/tendonitis">Tendonitis</a></li>
<li><a href="https://beta.nhs.uk/conditions/thrush">Thrush</a></li>
<li><a href="https://beta.nhs.uk/conditions/tonsillitis">Tonsillitis</a></li>
<li><a href="https://beta.nhs.uk/conditions/urinary-tract-infections">Urinary tract infections (UTIs)</a></li>
<li><a href="https://beta.nhs.uk/conditions/vaginal-discharge">Vaginal discharge</a></li>
<li><a href="https://beta.nhs.uk/conditions/warts">Warts</a></li>
</ul>
<h2 id="symptoms">Symptoms</h2>
<ul>
<li><a href="https://beta.nhs.uk/symptoms/headache">Headache</a></li>
<li><a href="https://beta.nhs.uk/symptoms/rashes-in-babies-and-children">Rashes in babies and children</a></li>
<li><a href="https://beta.nhs.uk/symptoms/stomach-ache">Stomach ache</a></li>
</ul>
<h2 id="medicines">Medicines</h2>
<ul>
<li><a href="https://beta.nhs.uk/medicines/amoxicillin">Amoxicillin</a></li>
<li><a href="https://beta.nhs.uk/medicines/atorvastatin">Atorvastatin</a></li>
<li><a href="https://beta.nhs.uk/medicines/buscopan">Buscopan (hyoscine butylbromide)</a></li>
<li><a href="https://beta.nhs.uk/medicines/citalopram">Citalopram</a></li>
<li><a href="https://beta.nhs.uk/medicines/erythromycin">Erythromycin</a></li>
<li><a href="https://beta.nhs.uk/medicines/flucloxacillin">Flucloxacillin</a></li>
<li><a href="https://beta.nhs.uk/medicines/fluoxetine">Fluoxetine (Prozac)</a></li>
<li><a href="https://beta.nhs.uk/medicines/fybogel">Fybogel</a></li>
<li><a href="https://beta.nhs.uk/medicines/gabapentin">Gabapentin</a></li>
<li><a href="https://beta.nhs.uk/medicines/gliclazide">Gliclazide</a></li>
<li><a href="https://beta.nhs.uk/medicines/ibuprofen-for-adults">Ibuprofen for adults (including Nurofen)</a></li>
<li><a href="https://beta.nhs.uk/medicines/ibuprofen-for-children">Ibuprofen for children</a></li>
<li><a href="https://beta.nhs.uk/medicines/isotretinoin">Isotretinoin</a></li>
<li><a href="https://beta.nhs.uk/medicines/isotretinoin-capsules">Isotretinoin capsules (Roaccutane)</a></li>
<li><a href="https://beta.nhs.uk/medicines/isotretinoin-gel">Isotretinoin gel (Isotrex)</a></li>
<li><a href="https://beta.nhs.uk/medicines/lactulose">Lactulose</a></li>
<li><a href="https://beta.nhs.uk/medicines/lansoprazole">Lansoprazole</a></li>
<li><a href="https://beta.nhs.uk/medicines/metformin">Metformin</a></li>
<li><a href="https://beta.nhs.uk/medicines/morphine">Morphine</a></li>
<li><a href="https://beta.nhs.uk/medicines/naproxen">Naproxen</a></li>
<li><a href="https://beta.nhs.uk/medicines/nitrofurantoin">Nitrofurantoin</a></li>
<li><a href="https://beta.nhs.uk/medicines/omeprazole">Omeprazole</a></li>
<li><a href="https://beta.nhs.uk/medicines/paracetamol-for-adults">Paracetamol for adults</a></li>
<li><a href="https://beta.nhs.uk/medicines/paracetamol-for-children">Paracetamol for children (including Calpol)</a></li>
<li><a href="https://beta.nhs.uk/medicines/pravastatin">Pravastatin</a></li>
<li><a href="https://beta.nhs.uk/medicines/prednisolone">Prednisolone</a></li>
<li><a href="https://beta.nhs.uk/medicines/pregabalin">Pregabalin</a></li>
<li><a href="https://beta.nhs.uk/medicines/salbutamol-inhaler">Salbutamol inhaler</a></li>
<li><a href="https://beta.nhs.uk/medicines/senna">Senna (Senokot)</a></li>
<li><a href="https://beta.nhs.uk/medicines/sertraline">Sertraline</a></li>
<li><a href="https://beta.nhs.uk/medicines/simvastatin">Simvastatin</a></li>
<li><a href="https://beta.nhs.uk/medicines/trimethoprim">Trimethoprim</a></li>
<li><a href="https://beta.nhs.uk/medicines/venlafaxine">Venlafaxine</a></li>
<li><a href="https://beta.nhs.uk/medicines/zopiclone">Zopiclone</a></li>
</ul>

{% endblock %}

{% block footer %}{% endblock %}
