{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}View my GP record{% endblock %}

{% block content %}

  <div class="first-item">



<form>
  <div class="form-group">
    <fieldset class="inline">
      <h2 class="heading-small"><legend>Do you have an online account for your GP?</legend></h2>

      <div  class="block-label selection-button-radio">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div  class="block-label selection-button-radio">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>
      <div  class="block-label selection-button-radio">
        <input id="radio-inline-3" type="radio" name="radio-inline-group" value="I dont know">
        <label for="radio-inline-3">I don't know</label>
      </div>

    </fieldset>
  </div>
  <input class="button" type="submit" value="Continue">
</form>

{% endblock %}

{% block footer %}{% endblock %}
