{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}View my GP record{% endblock %}

{% block content %}

  <div class="first-item">

<h1 class="heading-medium">
  Do you have an online account for your GP?
</h1>

<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend class="visually-hidden">Do you have an online account for your GP?</legend>

      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes" class="selection-button-radio">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-3" type="radio" name="radio-inline-group" value="I dont know">
        <label for="radio-inline-3">I don't know</label>
      </div>

    </fieldset>
  </div>
  <input class="button" type="submit" value="Continue">
</form>

{% endblock %}

{% block footer %}{% endblock %}
