{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}View my GP record{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

      <h1>Access and Download your GP record</h1>

      <h2>AIMS</h2>
      <p>The NHS is designing digital services to help patients take control of their own health and care and reduce the pressure on frontline services. </p>
      <p>Currently GP Online services offers patients the ability to do certain transactions including GP appointment booking, ordering of repeat prescriptions and access to coded information in GP records.</p>
      <p>At the moment patients have access to a choice of multiple sites to access these online services. This project aims to test how we transform the patient journey by allowing them to stay on NHS.UK to access online services. By doing this we hope to improve their experience and gain valuable insight into the impact of the NHS brand; the barriers to entry and use; the ways in which the different features are used; improvements which can be made and good practice. We hope to use these findings to help us improve the existing service.</p>

      <h2>What we did?</h2>
      <p>We designed a new GP Online Service to be piloted on NHS.UK,  with a focus on providing citizens access to their GP Record though this service also allows booking  appointments, order repeat medications and view their GP record. </p>
      <p>This pilot is now live in a small cohort of GP Practices around the country. It will improve our understanding of our users and their needs and help us assess users’ experience of our service, to make sure it meets their needs. </p>
      <p>During this pilot we will be testing patients in the pilot’s response and experience accessing their record and other GP online services  on an NHS.UK page. We will carry out research to understand the needs of patients. We will use this insight to improve the usability and patient trust of these services.</p>

      <h2>The future</h2>
      <p>This is the future</p>
        
    </div>
    <a class="button" href="login">Continue</a>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}