{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Access and download your GP record{{serviceName}}{% endblock %}

{% block pageTitle %}Access and download your GP record{% endblock %}

{% block content %}

<style>
figure {
  margin: 0;
}
figure img {
  max-width: 100%;
  border: 1px solid #ababab;
  margin-bottom: 0;
  padding: 0;
}
.media__caption {
  background-color: #e6eff8;
  margin-top: 0;
  padding: 16px
}
</style>

<div class="first-item">
    <div class="form-group">

      <h2>Goals of the project</h2>
      <p>The NHS is busy designing new digital services to help you take control of your own health and care needs to ease the pressure on our frontline services. </p>
      <p>GP online services already offer you the ability to do certain transactions online, including book GP appointments, order repeat prescriptions and access information in your GP record.</p>
      <p>Currently you have multiple ways to access these online services. We are testing whether patients feel it would be easier and more straight forward to access all these services in one place.</p>
      <p>Therefore we aim to transform the patient journey by enabling you to stay on NHS.UK to access your online services. By doing this, we hope to improve your experience and gain valuable insight in several key areas.</p>
      <ul>
        <li>The value and impact of the NHS brand.</li>
        <li>The barriers to entry and use of the new process to resolve these.</li>
        <li>The ways in which different features on the product are used. </li>
      </ul>
      <p>We hope to use these findings to help us improve the existing service.</p>

      <h2>What did we do?</h2>
      <p>We designed a GP online service to be piloted on NHS.UK, with the focus on providing you with the ability to access to your GP record, book an appointment, and order repeat prescriptions.</p>
      <figure class="media">
        <img src="/images/nhs-medical-record.png" alt="View my medical record">
        <figcaption class="media__caption">View my medical record</figcaption>
      </figure>
      <p>This trial is now live in a small selection of GP practices around the country. It will improve our understanding of your needs and help us assess your experience of our services, in order to meet those needs. </p>
      <figure class="media">
        <img src="/images/nhs-appointments.png" alt="Book an appointment">
        <figcaption class="media__caption">Book an appointment</figcaption>
      </figure>
      <p>During the trial stage, we’ll be gathering feedback on your experience of accessing your GP record, and other GP online services. We’ll use what we learn to improve these services. </p>
      <figure class="media">
        <img src="/images/nhs-prescriptions.png" alt="Prescriptions">
        <figcaption class="media__caption">Manage my prescriptions</figcaption>
      </figure>

      <h2>The future</h2>
      <p>Once we’ve reviewed the feedback, we’ll use our learnings in the design of future services. We then expect to share the learnings from the project with a wider audience, including any relevant research that we have done. </p>
        
    </div>
</div>

{% endblock %}

{% block footer %}{% endblock %}