{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Index : {{serviceName}}{% endblock %}

{% block pageTitle %}View My GP Record prototypes{% endblock %}

{% block content %}

  <div class="first-item">

    <ul>
    	<li><a href="version3/transformation">Transformation page to a content page [Alpha03]</a></li>
    	<li><a href="https://view-my-gp-record.herokuapp.com/version2/transformation">Flow from Tranformation through to EGL [Alpha02] - deeplinking</a></li>
	    <li><a href="/version1/index">View my GP record [Alpha01] - basic POL route</a></li>
    </ul>

{% endblock %}

{% block footer %}{% endblock %}
